html{
    scroll-behavior: smooth;
}

body {
    font-family: "Funnel Display", sans-serif;;
    background-color: #6FFF00;
    font-style: normal;
    margin: 0;
}

.gruppohome{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20vh 20vh 20vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 5.2em;
    width: 90vw;
}

header{
    grid-column-start: 1;
    grid-column-end: 5;

    grid-row-start: 2;
    grid-row-end: 3;
}

a{
    text-decoration: none;
    color: white;
}

.paragrafo a:hover{
    text-decoration: underline;
    text-underline-offset: 0.1em ;
    text-decoration-thickness: 0.1em;
}

h1, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
    color: black;
}

h2{
    color: #6FFF00;
    margin: 0;
    font-size: 1.1em;
}

img {
    max-width: 100%;
    display: block;
}

.maintitle {
    font-size: 15em;
    line-height: 75%;
    font-weight: 600;
    text-align: center;
    user-select: none;
    text-transform: uppercase;
}

.testohero{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio{
    font-family: "Funnel Display", sans-serif;
    font-size: 4em;
    color: white;
    line-height: 75%;
    font-weight: 600;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    user-select: none;
}

nav{
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    align-items: center;
    margin: auto;
    justify-content: center;
    display: flex;
    column-width: 2em;
    gap: 4em;
    width: 100%;
    
}

.topinfo{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1.2em;
    gap: 10em;
    user-select: none;
    padding-top: 2em;
}

#voce{
    font-size: 3em;
    text-transform: uppercase;
}

#voce{
    color: white;
    line-height: 75%;
    font-weight: 300;
    display: inline-block;
    transition: font-weight 0.3s ease;
    text-align: center;
}

#voce::after {
    content: attr(data-text);
    display: block;
    font-weight: 700;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

#voce:hover {
    font-weight: 700;
}

.chisono{
    grid-column: 1;
}

.lavori{
    grid-column: 2;
}

.contatti{
    grid-column: 3;
}

.testoinfo{
    font-family: "Funnel display", "Funnel Sans", "Helvetica", sans-serif;
    font-size: 3em;
    font-weight: 700;
    line-height: 110%;
    grid-column-start: 1;
    grid-column-end: 5;
}

footer{
    font-size: 0.8em;
    line-height: 75%;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 2em;
}

.altrotesto{
    font-size: 2em;
    grid-column-start: 2;
    grid-column-end: 5;
    padding-bottom: 2.5vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.paragrafo{
    font-size: 0.9em;
}

.contenthome{
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 5;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10vh;
}

#voceindice{
    font-size: 3em;
    text-transform: uppercase;
}

#voceindice{
    color: black;
    line-height: 90%;
    font-weight: 300;
    display: inline-block;
    transition: font-weight 0.3s ease;
}

#voceindice::after {
    content: attr(data-text);
    display: block;
    font-weight: 700;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

#voceindice:hover {
    font-weight: 700;
}

.indicelavori{
    color: black;
    padding-bottom: 0.1em;
    margin-bottom: 0.4em;
    border-bottom: 0.08em solid white;
    display: flex;
    text-align: left;
    width: fit-content;
}

#indice{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: auto;
}

sup{
    color: white;
    font-size: 60%;
    line-height: 0;
}
