html{
    scroll-behavior: smooth;
}

:root {
    --primary-bg-color: #f6f7eb;
    --primary-color: #00f0ec;
    --main-text-color: #393e41;
  }

body {
    font-family: "Funnel Display", sans-serif;
    background-color: var(--primary-bg-color);
    font-style: normal;
    margin: auto;
    width: 95vw;
}

.hero{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20vh 20vh 20vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 5.2em;
}

header{
    grid-column-start: 1;
    grid-column-end: 5;

    grid-row-start: 2;
    grid-row-end: 3;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

.paragrafo a:hover{
    text-decoration: underline;
    text-underline-offset: 0.1em ;
    text-decoration-thickness: 0.13em;
}

.linkhome{
    font-size: 5vh;
    font-weight: 700;
}


.breadcrumble a:hover{
    text-decoration: underline;
    text-underline-offset: 0.2em ;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 0.15em;
}

.linkhome:hover{
    text-decoration: underline;
    text-underline-offset: 0.2em ;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 0.15em;
}

h1, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
    color: var(--main-text-color);
}

h2{
    color: var(--main-text-color);
    margin: 0;
    font-size: 1.3em;
}

b{
    color: var(--primary-color);
    font-weight: 500;
}

u{
    color: var(--primary-color);
}

img {
    max-width: 100%;
    display: block;
}

.maintitle {
    font-size: 40vh;
    line-height: 75%;
    font-weight: 600;
    text-align: center;
    user-select: none;
    text-transform: uppercase;
}

.testohero{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio{
    font-family: "Funnel Display", sans-serif;
    font-size: 4em;
    color: var(--primary-color);;
    line-height: 75%;
    font-weight: 600;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    user-select: none;
}

nav{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    display: inline-flex;
    text-align: center;
    gap: 10vh;
}

.topinfo{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1.2em;
    gap: 10em;
    padding-top: 2em;
}

.vocenavigazione{
    width: max-content;
}

#voce{
    font-size: 3em;
    text-transform: uppercase;
    color: var(--primary-color);;
    line-height: 75%;
    font-weight: 300;
    display: inline-block;
    transition: font-weight 0.3s ease;
    width: fit-content;
}

#voce::after {
    content: attr(data-text);
    display: block;
    font-weight: 700;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

#voce:hover {
    font-weight: 700;
}

.chisono{
    grid-column: 1;
}

.lavori{
    grid-column: 2;
}

.contatti{
    grid-column: 3;
}

.testoinfo{
    font-family: "Funnel display", "Funnel Sans", "Helvetica", sans-serif;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 110%;
    grid-column-start: 1;
    grid-column-end: 4;
}

footer{
    font-size: 0.8em;
    line-height: 75%;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 2em;
}

.altrotesto{
    font-size: 2em;
    grid-column-start: 3;
    grid-column-end: 5;
    padding-bottom: 2.5vh;
    display: flex;
    flex-direction: column;
}

.paragrafo{
    font-size: 0.7em;
    line-height: 110%;
}

.contenthome{
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 5;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 100%;
}

#voceindice{
    font-size: 3em;
    text-transform: uppercase;
}

#voceindice{
    color: var(--main-text-color);
    line-height: 90%;
    font-weight: 300;
    display: inline-block;
    transition: font-weight 0.3s ease;
}

#voceindice::after {
    content: attr(data-text);
    display: block;
    font-weight: 700;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

#voceindice:hover {
    font-weight: 700;
}

.indicelavori{
    color: var(--main-text-color);
    padding-bottom: 0.1em;
    margin-bottom: 0.4em;
    border-bottom: 0.08em solid var(--primary-color);;
    display: flex;
    text-align: left;
    width: fit-content;
}

#indice{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: auto;
}

sup{
    color: var(--primary-color);;
    font-size: 60%;
    line-height: 0;
}

.nomelavoro{
    font-size: 10vh;
    line-height: 150%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

#paginalavoro{
    top: 10%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 99;
}

#infoprogetto{
    row-gap: 10vh;
}

#principale{
width: fit-content;
text-align: center;
line-height: 2.5em;
display: flex;
flex-direction: column;
align-items: center;
padding: 0 3vw;
max-width: 25vw;

}

.vociinfoprog h2{
    color: var(--primary-color);;
}

.vociinfoprog h3{
    font-size: 4vh;
}

#descrizioneprog{
    grid-row-start: 2;
    grid-column-end: 4;
    grid-column-start: 1;

    font-size: 4vh;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

#heroprog{
    display: flex;
    justify-content: center;
}

.headerprog{
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.copertinaprogetti{
    display: none;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 100%;
    height: 33vh;
    z-index: 1;
}

.copertinachisono{
    position: absolute;
    top: 60%;
    left: 88%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 90%;
    height: 20vh;
    filter: saturate(0%);
}

main{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.linktagprogetto{
    color: var(--main-text-color);
}

.linktagprogetto:hover{
    text-decoration: underline;
    text-underline-offset: 0.1em ;
    text-decoration-thickness: 0.1em;
}

.infoprinc{
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 5;

}

.altreinfo{
    font-size: 1.3vh;
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 5vh;
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 5;
}

#infoagg h3{
    font-size: 2.7vh;
}

.contimg{
    grid-column-start: 1;
    grid-column-end: 5;
    column-count: 3;
    grid-row: 3;
    width: fit-content;
}
